
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.modalContainer{
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    height: 120vh;
    place-items: center;
    padding: calc(var(--space) * 2);
    max-width: 700px;
}




.closeButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
    font-size: 40px;
    color: rgb(199, 0, 0);

}

.addButton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
    font-size: 45px;
    color: rgb(37, 82, 37);
}

/* 
button
*/


  
  /* 
  inputField
  */
  .inputGroup {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #141212;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #0c0a0a;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .userLabel {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
   }